In [2]:
import pandas as pd
import seaborn as sns
from joblib import load, dump

df_rcea = pd.read_csv("../../data/RCEA/RCEA_actual.csv", error_bad_lines=False)
df_rcea.head()

Cuantos RCEA existen?

df_rcea["EMAILID"].nunique()

df_rcea.columns

Cuantos son evaluadores?

## Evaluadores de convocatoria pasadas

Norberto - El CVU es APPLID

In [3]:
eval_conv_pasadas = load('../../data/data_entrenamiento/data_entrenamiento_raw/historico_convocatorias/join_evaluadores_todas_convocatorias.pkl')
eval_conv_pasadas.head()

   ID_PROYECTO NUMERO_CONVOCATORIA  ANIO      CVU
0         1093    CATEDRAS-2015-01  2015  31151.0
1         1235    CATEDRAS-2015-01  2015  18804.0
2         1235    CATEDRAS-2015-01  2015   4867.0
3          554    CATEDRAS-2015-01  2015   3188.0
4          390    CATEDRAS-2015-01  2015   2195.0

In [18]:
eval_conv_pasadas = eval_conv_pasadas.drop_duplicates("CVU")

In [21]:
eval_conv_pasadas.shape

(28675, 4)

In [22]:
eval_conv_pasadas["CVU"].nunique()

28674

df_merge = df_rcea.merge(eval_conv_pasadas, left_on='APPLID', right_on='CVU')

df_merge["CVU"].nunique()

df_merge["APPLID"].nunique()

## Evaluadores de convocatoria pasadas con filtro de SNI

In [23]:
sni_path = '../../data/data_entrenamiento/data_entrenamiento_raw/historico_convocatorias/../SNI_catalogo/SNI_vigentes_final.csv'

Se quitaron tecnicos ada√©micos

In [24]:
miembros_sni = pd.read_csv(sni_path)
miembros_sni.head()

   CVU   IVIGENCIA            FVIGENCIA  NIVEL
0   83  2008-01-02  2022-12-31 00:00:00      1
1   97  2016-01-01  2019-12-31 00:00:00      1
2  174  2012-01-02  2029-12-31 00:00:00      1
3  202  2009-01-02  2023-12-31 00:00:00      1
4  323  2013-01-02  2029-12-31 00:00:00      1

In [25]:
miembros_sni.shape

(9325, 4)

In [26]:
miembros_sni["CVU"].nunique()

9325

### merge

In [27]:
df_merge_SNI = eval_conv_pasadas.merge(miembros_sni, left_on='CVU', right_on='CVU', how="inner")

In [28]:
df_merge_SNI.shape

(8954, 7)

i.e tenemmos 9260 RCEA que son SNI y de esos, tenemos 8844 (preprocesamiento_datos_entrenamiento.ipynb) que han evaluado.

In [34]:
round(8954/9325,2)*100

96.0

es decir, tenemos 95% de el total de SNI vigentes